<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Free gardening courses">
        <meta name="keywords" content="Course, Garden, Gardening, Plant, Vegetables, ">
        <meta name="author" content="Madalina Carausu and Isabela Haiura">

        <title>e-Gardening</title>

        <link rel="stylesheet" href="../Proiect.css">
        <link rel="stylesheet" href="../Advanced.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/png" href="../images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5e6801e0f3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sub-header1">
            <nav>
                <a href="../Proiect.html"><img src = "../images/logo.png" alt="logo image"></a>
                <p> e-Gardening </p>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="../Admin.html" itemprop="url" id="admin">ADMIN</a></li>
                        <li><a href="../MyProfile.html" itemprop="url" id="my_profile">MY PROFILE</a></li>
                        <li><a href="../Proiect.html" itemprop="relatedLink">HOME</a></li>
                        <li><a href="../Proiect.html#lesson" itemprop="relatedLink">LEARN</a></li>
                        <li><a href="../Advanced.html" itemprop="relatedLink">ADVANCED</a></li>
                        <li><a href="../Proiect.html#tipsAndTricks" itemprop="relatedLink">TIPS & TRICKS</a></li>
                        <li><a href="../QA.html" itemprop="relatedLink">Q&A</a></li>
                        <li><a href="../Proiect.html#contact" itemprop="relatedLink">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i> 
            </nav>
        <h1 itemprop="headline">Limit Inputs of Time and Money</h1>
        </div>
        


        <section class="bodyAdvanced" itemprop="hasPart" itemscope itemtype="https://schema.org/Course"> 
        
            <div class="oneLine">
                <div class="oneLineText">
                    <h2>Use Free Fertilizers</h2>
                    <p>Take advantage of free, nitrogen-rich fertilizers such as grass clippings and human urine. You can mulch crops with chemical-free grass clippings, or make a fertilizer tea by steeping clippings in water. Dilute 1 part urine with 20 parts water, and use the resulting tea in the garden and to feed seedlings. For more information and liquid fertilizer recipes, check out Free, Homemade Liquid Fertilizers. </p>
                </div>
                <img class="imgAdvanced" src="../images/gardenbasics.jpg" alt="">
            </div>
    
            <div class="oneLine">
                <img class="imgAdvanced" src="../images/img1-cropplanning.jpg" alt="">
                <div class="oneLineText">
                    <h2> Save Seeds</h2>
                    <p>Saving at least some of your own seeds will definitely mean spending less money on your garden each year, plus you’ll enjoy the convenience of always having a ready supply of plantable seeds on hand. Start with superior open-pollinated varieties, and work with vegetables that are typically harvested when dead-ripe, such as dry beans, melons, tomatoes and winter squash.</p>
                </div>
            </div>
    
            <div class="oneLine">
                <div class="oneLineText">
                    <h2>Weed Early and Often</h2>
                    <p>Most garden crops require weeding at least three times: Plan to weed five to seven days after sowing or transplanting, again seven to 10 days later, and a third time three to four weeks after the crop has been planted. By that time, the plants should be big enough to mulch and should have plenty of leaves to shade the soil’s surface.</p>
                </div>
                <img class="imgAdvanced" src="../images/vegetables3.jpg" alt="">
            </div>
    
            <div class="oneLine">
                <img class="imgAdvanced" src="../images/vegetables7.jpg" alt="">
                <div class="oneLineText">
                    <h2>Make and Use Your Own Compost</h2>
                    <p>You may still need to buy high-quality organic compost, but make a habit of piling together pulled plants, leaves, tattered mulches and other organic materials to create rich compost for free. Additionally, use an enclosed composter or a worm compost bin to capture your kitchen garbage. </p>
                </div>
            </div>

            <div class="oneLine">
                <div class="oneLineText">
                    <h2>Grow Your Own Mulch</h2>
                    <p>If you run out of leaves and grass clippings before your garden has been adequately mulched, consider adding sorghum, an annual summer grain, or a sorghum-sudan grass hybrid (also called “sudex”) to your midsummer planting plans. These crops can grow to 6 feet high or more in 65 days, and the huge plants make great mulch if pulled or cut down before they set seed.</p>
                </div>
                <img class="imgAdvanced" src="../images/flowers4.jpg" alt="">
            </div>

            <div class="oneLine">
                <img class="imgAdvanced" src="../images/soil6.jpg" alt="">
                <div class="oneLineText">
                    <h2>Naturalize With Useful Plants</h2>
                    <p>Last year, after we ran a story on self-seeding crops, many readers wrote to tell us about their perpetual plantings of pumpkins and winter squash. If allowed to grow in compost piles located along a fence, butternuts and other Cucurbita moschata varieties make themselves so at home that they become a permanent garden feature without any work from the gardener. Of the 34 easy, self-seeding crops we named, calendula, cilantro, pumpkins and winter squash received the most fan mail. </p>
                </div>
            </div>

            <div class="oneLine">
                <div class="oneLineText">
                    <h2>Use the Right Tools</h2>
                    <p>You can create a garden using only a shovel, but the work will be much more efficient and enjoyable if you use tools that fit you and your garden. Long-handled spades and hoes that you can use standing up are best if your garden is big, but consider short-handled tools if you work in small raised beds. Whichever style you use, keeping a sharp edge on all of your spades and hoes will always make them work better. If you’re a female gardener and find that the size, grip and design of garden tools you’ve tried in the past don’t fit you well, Green Heron Tools sells cool gardening tools designed specifically for women.</p>
                </div>
                <img class="imgAdvanced" src="../images/planningyourgarden.jpg" alt="">
            </div>

            <div class="oneLine">
                <img class="imgAdvanced" src="../images/img4-gardenbeds.jpg" alt="">
                <div class="oneLineText">
                    <h2>Water as Efficiently as You Can</h2>
                    <p>Water is a precious resource everywhere, and no gardener can afford to waste it. For watering summer crops such as okra, peppers, sweet corn and tomatoes, mulches and soaker hoses are extremely helpful. You can also capture water in rain barrels and route to garden beds using perforated soaker hoses. Learn more about wise watering. </p>
                </div>
            </div>
    
            <div class="middle">
                <h2 class="tasks">
                    Tasks:
                </h2>
                <br>
                <p>
                    <form action="/task3_4" method="post">
                        <label class="container-checkbox">
                            <input name="task" type="checkbox" value="1" id="3_4_checkbox1">
                            <span class="checkmark"></span>
                            Task1!
                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="2" id="3_4_checkbox2">
                            <span class="checkmark"></span>
                            Task2!
                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="3" id="3_4_checkbox3">
                            <span class="checkmark"></span>
                            Task3!
                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="4" id="3_4_checkbox4">
                            <span class="checkmark"></span>
                            Task4!
                        </label>
                        <br> 
                        <input type="submit" class="submitClass">
                    </form>
                </p>
            <p id="bottomText"> If you checked all the above requirements then you are ready for the <a href="Advanced5.html">next module</a>!</p>
            </div>
        </section>


<!--Footer-->
<hr>
<section class="footer">
    <div itemprop="hasPart" itemscope itemtype="https://schema.org/AboutPage">
        <h4 itemprop="headline">About us</h4>
        <p itemprop="description">We are two eager students who are trully passionate about everything related to gardening.</p>
        <div class="icons">
            <i class="fa-brands fa-facebook-f"><a href="" itemprop="relatedLink"></a></i>
            <i class="fa-brands fa-twitter"><a href="" itemprop="relatedLink"></a></i>
            <i class="fa-brands fa-instagram"><a href="" itemprop="relatedLink"></a></i>
        </div>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by 
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="givenName">Madalina</span>
        </span>
         & 
         <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="givenName">Isabela</span>
        </span>.</p>
</section>

<!--JavaScript for Toggle Menu-->
    <script src="Modules.js"></script>
    <script>
        fetch("username-database-response", { 
            mode: 'no-cors'
        })  .then(response => {return response.json()})
            .then(data => {
                if(data!=undefined&&data!=null&&data!="Eroare"){
                    data.tasks.filter(element =>  element.task=="task3_4").map(element => {
                        if(element!=null&&element!=undefined){
                            document.getElementById("3_4_checkbox1").checked=element.task1;
                            document.getElementById("3_4_checkbox2").checked=element.task2;
                            document.getElementById("3_4_checkbox3").checked=element.task3;
                            document.getElementById("3_4_checkbox4").checked=element.task4;
                        }
                    })
                }   
            })
            .catch(err => console.log(err));
    </script>
</body>
</html>