<!DOCTYPE html>
<html itemscope itemtype="https://schema.org/WebPage" lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Free gardening courses">
        <meta name="keywords" content="Course, Garden, Gardening, Plant, Vegetables, ">
        <meta name="author" content="Madalina Carausu and Isabela Haiura">

        <title>e-Gardening</title>

        <link rel="stylesheet" href="../Proiect.css">
        <link rel="stylesheet" href="Modules.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/png" href="../images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5e6801e0f3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sub-header1-1">
            <nav>
                <a href="../Proiect.html"><img src = "../images/logo.png" alt="logo image"></a>
                <p> e-Gardening </p>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="../Admin.html" itemprop="url" id="admin">ADMIN</a></li>
                        <li><a href="../MyProfile.html" itemprop="url" id="my_profile">MY PROFILE</a></li>
                        <li><a href="../Proiect.html" itemprop="relatedLink">HOME</a></li>
                        <li><a href="../Proiect.html#lesson" itemprop="relatedLink">LEARN</a></li>
                        <li><a href="../Proiect.html#tipsAndTricks" itemprop="relatedLink">TIPS & TRICKS</a></li>
                        <li><a href="../QA.html" itemprop="relatedLink">Q&A</a></li>
                        <li><a href="../Proiect.html#contact" itemprop="relatedLink">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i> 
            </nav>
        <h1 itemprop="headline">Garden Basics </h1>
        </div>
        


    <section class="title-of-module" itemprop="hasPart" itemscope itemtype="https://schema.org/Course"> 
        <div class="row" itemprop="hasPart" itemscope itemtype="https://schema.org/Article">
            <div class="title-of-module-col" id="organicGardening">
                <h2 itemprop="headline">What is Organic Gardening?</h2>
                <p itemprop="articleBody">
                    A lot of people these days overcomplicate organic gardening. We’ve forgotten that our ancestors figured 
                    out how to grow food with little more than their eyes to observe nature and their hands to feel the Earth.
                    There is <b>plenty of time to learn, grow, and perfect your gardening skills</b>.
                    <br><br>
                    You probably want to start a garden to live healthier and more naturally, therefore<b> using toxic chemicals
                    is off the table</b>. Organic gardening is all about growing plants in tune with Nature. Nature does not use
                    harmful man-made chemicals to kill pests or weeds, nor does she disturb the soil or plant monocultures
                    the way industrial farms do. 
                    <br><br>
                    Organic gardening takes an<b> ecological approach to cultivating food</b>. Most importantly, eating organically
                    ensures that you are feeding your family the most wholesome food possible and maintaining a healthy 
                    environment in your yard and garden for years to come.  
                </p>
            </div>
            <div class="title-of-module-col container-img">
                <img itemprop="image" src="../images/img1-gardenbasics.jpg" alt="garden basics image">
            </div>
        </div>
        <div class="row">
            <div class="title-of-module-col" itemprop="hasPart" itemscope itemtype="https://schema.org/Article">
                <h2 itemprop="headline">Organic Gardening Rules</h2>
                <p itemprop="articleBody">
                    The term “organic” is technically<b> regulated by the USDA</b> and refers to a whole set of growing practices, including: 
                </p>

                <ul>
                    <li> No synthetic fertilizers </li>
                    <li> Zero synthetic pesticides, fungicides or herbicides </li>
                    <li> No GMOs </li>
                    <li> Nurturing soil biology </li>
                    <li> Growing diverse crops </li>
                    <li> Using compost or other types of organic matter </li>
                    <li> Purchasing only organic, untreated seeds </li>
                    <li> Planting pollinator habitat </li>
                </ul>
                
            </div>
            <div class="title-of-module-col" id="organicGardeningTools" itemprop="hasPart" itemscope itemtype="https://schema.org/Article">
                <h2 itemprop="headline">Most Important Tools </h2>
                <p itemprop="articleBody">
                    There are a number of different tools that are important for every organic gardener to have. Each of these tools<b> serves a
                     different purpose</b>, and won’t go to waste as you start building your first organic garden.
                </p>

                <ul>
                <li> Wheelbarrow  </li>
                <li> Shovel </li>
                <li> Rake </li>
                <li> Broadfork </li>
                <li> Planting Knife (Hori Hori) </li>
                <li> Measuring Tape </li>
                <li> Hose or watering can  </li>
            </ul>     
                
            </div>
        </div>





        <div class="row"  itemprop="hasPart" itemscope itemtype="https://schema.org/Article" >
            
            <div class="title-of-module-col container-img">
                <img itemprop="image" src="../images/tools.jpg" alt="garden tools image">
            </div>
            <div class="title-of-module-col">
                <h2 itemprop="headline">Designing Your Garden</h2>
                <p itemprop="articleBody">
                    Starting an organic garden can be super exciting, but it’s important not to dig in without a plan!
                    An organic garden is an investment for many years to come, so you want to make sure your hard
                    work is not in vain. It’s also helpful to<b> understand the fundamentals of organic gardening</b> so
                    you can truly enjoy yourself and the fruits of your labor. Here’s how to set yourself up for
                    success.  
                </p>
                <h2 class="tasks">
                    Tasks:
                </h2>
                <br>
                <p>
                    <form action="/task1_1" method="post">
                        <label class="container-checkbox">
                            <input name="task" type="checkbox" value="1" id="1_1_checkbox1">
                            <span class="checkmark"></span>
                            Make sure you have the necessary tools for the following modules!
                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="2" id="1_1_checkbox2">
                            <span class="checkmark"></span>
                            Make sure you understand the fundamentals of organic gardening! 

                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="3" id="1_1_checkbox3">
                            <span class="checkmark"></span>
                            Make sure you understand what an organic garden is!
                        </label>
                        <br> 
                        <label class="container-checkbox">   
                            <input name="task" type="checkbox" value="4" id="1_1_checkbox4">
                            <span class="checkmark"></span>
                            Make sure you know that organic gardening is all about growing plants in tune with Nature!
                        </label>
                        <br> 
                        <input type="submit" class="submitClass">
                    </form>
                </p>
            </div>
        </div>
        <div class="middle middle-style">
        </div>
    </section>


<!--Footer-->
<hr>
<section class="footer">
    <div itemprop="hasPart" itemscope itemtype="https://schema.org/AboutPage">
        <h4 itemprop="headline">About us</h4>
        <p itemprop="description">We are two eager students who are trully passionate about everything related to gardening.</p>
        <div class="icons">
            <i class="fa-brands fa-facebook-f"><a href="" itemprop="relatedLink"></a></i>
            <i class="fa-brands fa-twitter"><a href="" itemprop="relatedLink"></a></i>
            <i class="fa-brands fa-instagram"><a href="" itemprop="relatedLink"></a></i>
        </div>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by 
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="givenName">Madalina</span>
        </span>
         & 
         <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="givenName">Isabela</span>
        </span>.</p>
</section>

<!--JavaScript for Toggle Menu-->
    <script src="Modules.js"></script>
    <script>
        fetch("username-database-response-tasks", { 
            mode: 'no-cors'
        })  .then(response => {return response.json()})
            .then(data => {
                if(data!=undefined&&data!=null&&data!="Eroare"){
                    data.tasks.filter(element =>  element.task=="task1_1").map(element => {
                        if(element!=null&&element!=undefined){
                            document.getElementById("1_1_checkbox1").checked=element.task1;
                            document.getElementById("1_1_checkbox2").checked=element.task2;
                            document.getElementById("1_1_checkbox3").checked=element.task3;
                            document.getElementById("1_1_checkbox4").checked=element.task4;
                        }
                    })
                }   
            })
            .catch(err => console.log(err));
    </script>
</body>
</html>