<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Free gardening courses">
        <meta name="keywords" content="Course, Garden, Gardening, Plant, Vegetables, ">
        <meta name="author" content="Madalina Carausu and Isabela Haiura">

        <title>e-Gardening</title>

        <link rel="stylesheet" href="../Proiect.css">
        <link rel="stylesheet" href="Modules.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/png" href="../images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5e6801e0f3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sub-header2-1">
            <nav>
                <a href="../Proiect.html"><img src = "../images/logo.png" alt="logo image"></a>
                <p> e-Gardening </p>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="../Admin.html" itemprop="url" id="admin">ADMIN</a></li>
                        <li><a href="../MyProfile.html" itemprop="url" id="my_profile">MY PROFILE</a></li>
                        <li><a href="../Proiect.html">HOME</a></li>
                        <li><a href="../Proiect.html#lesson">LEARN</a></li>
                        <li><a href="../Proiect.html#tipsAndTricks">TIPS & TRICKS</a></li>
                        <li><a href="../QA.html">Q&A</a></li>
                        <li><a href="../Proiect.html#contact">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i> 
            </nav>
        <h1>Garden Maintenance</h1>
        </div>
    <section class="title-of-module"> 
        <div class="row">
            <div class="title-of-module-col">
                <h2>Watering and Irrigation</h2>
                <p>
                    Tending to the garden is an <b>invigorating and inspiring task</b> if you stay on top of garden maintenance. However, if you 
                    let things get too out of control you may start to dread going out to check on your crops. Gardening shouldn’t be a chore, 
                    but it does require some attentiveness and problem-solving.  
                    <br><br>
                    Small gardens don’t require complex irrigation systems, but you do need regular water access. Keep a hose and spray nozzle handy 
                    at all times, <b>especially when germinating seeds</b>. You can also set up drip irrigation or soaker hoses on timers to save water and effort. 
                    Overhead irrigation (ie. sprinklers) is typically not recommended because it covers a large area and promotes more weeds.   
                </p>
            </div>
            <div class="title-of-module-col container-img">
                <img src="../images/img1-gardenmaintenance.jpg" alt="garden maintenance image">
            </div>
        </div>

        <div class="row">
            <div class="title-of-module-col">
                <h2>Intro to Biocontrol</h2>
                <p>
                    Unfortunately, we are never the only ones who want to eat crisp lettuce or sweet carrots from the garden. There will inevitably be pests. Part of 
                    gardening is rolling with the punches and working with nature rather than against it. There’s no use in dousing your garden in pesticides to get rid 
                    of all the pests and potentially harm your family or the local ecosystem in the process. Thankfully, there are countless strategies for organic pest 
                    control in the garden.
                    <br><br>
                    Biological control, or biocontrol, is the act of controlling pests using natural enemies and predators. A few popular biocontrol agents include 
                    ladybugs, parasitic wasps, and spiders. These predatory insects feast on pests and eagerly multiply when lots of pests become available.  
                    <br><br>
                    Similar to a cat controlling mice in the yard (another form of biocontrol), predator insects keep pests to a manageable level. You don’t want to 
                    kill all the insects with broad-spectrum pesticides, because the pests will return more quickly than the predators.  
                    <br><br>
                    The same holds true if you kill off all the mountain lions in an area; the rabbits will quickly overpopulate! Ecological balance is the core tenant 
                    of biocontrol in an organic garden. The goal is never to eliminate all the pests, otherwise, there is nothing for the predators to eat and they will 
                    migrate elsewhere. 
                    <br><br>
                    Biological control can be active (classical biological control) or passive (conservation biocontrol). Active biocontrol means buying and releasing predator-like 
                    ladybugs to tackle an existing pest infestation. Passive conservation biocontrol is more preventative. It involves creating a habitat for beneficial insects 
                    so that they live in your garden and create ecological balance.    
                </p>
            </div>
            <div class="title-of-module-col">
                <h2>Planting Beneficial Insect Habitat</h2>
                <p>
                    Certain plants magnetize the exact kind of insects we want in the garden: ladybugs, spiders, beetles, predatory mites, lacewings, hoverflies, praying mantis, 
                    and parasitic wasps (don’t worry, these wasps only target pests like caterpillars). 
                    <br><br>
                    It is best to plant insect habitat as close to your garden beds as possible. Use them as nice landscaping touches around the garden, or simply “interplant” a 
                    flowering beneficial species at the front of every bed.  
                    <br><br>
                    I scatter white alyssum and calendula around all of my plants for an extra touch of beauty and a “companion planting” approach. A great bonus is these plants 
                    also attract and feed local pollinators. Plus, who doesn’t love beautiful flowers?  
                    <br><br>
                    Here are a few amazing plants for attracting (and keeping) beneficial predators in your garden:
                    <ul>
                        <li> White alyssum </li>
                        <li> Phacelia </li>
                        <li> Dill </li>
                        <li> Yarrow </li>
                        <li> Angelica </li>
                        <li> Cosmos </li>
                        <li> Coriander (flowering cilantro) </li>
                        <li> Queen Anee’s Lace </li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row addmargin">
            <div class="title-of-module-col container-img">
                <img src="../images/img2-gardenmaintenance.jpg" alt="garden maintenance image">
            </div>
            <div class="title-of-module-col container-img">
                <img class="no" src="../images/img3-gardenmaintenance.jpg" alt="garden maintenance image">
            </div>
        </div>

        <div class="row">
            <div class="title-of-module-col">
                <h2>Using Row Cover</h2>
                <p>
                    Exclusion is another <b>simple approach to organic pest control</b>. Basically, you just keep the bugs off your plants with a translucent fabric called row cover. 
                    Row cover is best used on brassicas (“cole crops” like kale, radish, turnip, bok choy, cabbage, cauliflower, etc.) to keep flea beetles from infesting the leaves. 
                    Row cover also prevents cabbage moths from laying their caterpillar eggs.  
                    <br><br>
                    You can also use row cover to <b>provide extra warmth</b> to newly planted seedlings or warm-weather crops like melons. In the spring, I use thicker row cover on most 
                    of my early transplants to give them a little extra protection.  
                    <br><br>
                    There are multiple thicknesses of row cover that provide different levels of insulation, so be sure to get the <b>lightest weight row cover</b> for the hottest times of 
                    the year (which is often when insects like flea beetles are the most prevalent). You don’t want to nuke your plants underneath the fabric.
                </p>
            </div>
            <div class="title-of-module-col container-img">
                <img src="../images/img4-gardenmaintenance.jpg" alt="garden maintenance image">
            </div>
        </div>
        

        <div class="middle">
            <h2 class="tasks">
                Tasks:
            </h2>
            <br>
            <p>
                <form action="/task2_1" method="post">
                    <label class="container-checkbox">
                        <input name="task" type="checkbox" value="1" id="2_1_checkbox1">
                        <span class="checkmark"></span>
                        Make sure you know what is overhead irrigation!
                    </label>
                    <br> 
                    <label class="container-checkbox">   
                        <input name="task" type="checkbox" value="2" id="2_1_checkbox2">
                        <span class="checkmark"></span>
                        Make sure you are working with nature rather than against it!
                    </label>
                    <br> 
                    <label class="container-checkbox">   
                        <input name="task" type="checkbox" value="3" id="2_1_checkbox3">
                        <span class="checkmark"></span>
                        Make sure you plant insect habitat as close to your garden beds as possible!
                    </label>
                    <br> 
                    <label class="container-checkbox">   
                        <input name="task" type="checkbox" value="4" id="2_1_checkbox4">
                        <span class="checkmark"></span>
                        Make sure you know how to use a row cover!
                    </label>
                    <br> 
                    <input type="submit" class="submitClass">
                </form>
            </p>
        </div>

    </section>


<!--Footer-->
<hr>
<section class="footer">
    <h4>About us</h4>
    <p>We are two eager students who are trully passionate about everything related to gardening.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Madalina & Isabela.</p>
</section>

<!--JavaScript for Toggle Menu-->
    <script src="Modules.js"></script>
    <script>
        fetch("username-database-response-tasks", { 
            mode: 'no-cors'
        })  .then(response => {return response.json()})
            .then(data => {
                if(data!=undefined&&data!=null&&data!="Eroare"){
                    data.tasks.filter(element =>  element.task=="task2_1").map(element => {
                        if(element!=null&&element!=undefined){
                            document.getElementById("2_1_checkbox1").checked=element.task1;
                            document.getElementById("2_1_checkbox2").checked=element.task2;
                            document.getElementById("2_1_checkbox3").checked=element.task3;
                            document.getElementById("2_1_checkbox4").checked=element.task4;
                        }
                    })
                }   
            })
            .catch(err => console.log(err));
    </script>
</body>
</html>