.lesson-col-begintadv:hover {
    box-shadow: 0 0 20px 0px rgb(224, 137, 6);
    transition: 1s;
}
.lesson-col-begintadv:hover h3 {
    color: #ff9832f4;
    transition: 1s;
}
.lesson-col-begintadv h3 {
    color: #e3c4a5;
    transition: 1s;
}
.lesson-col-begintadv p {
    color: rgb(227, 196, 165);
    font-size: 25px;

}
.lesson-col-begintadv {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h1 {
    margin-top: 30px;
}
h2 {
    margin-top: 30px;
}
.rank1{
    margin-left: 34%;

}
.rank2{

    margin-top: -8%;
}
.rank3{
    margin-top: -15%;
    margin-left: 67%;

}
.number {
    background-color: #ffce7faa;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 50px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    font-size: 20px;
    width: 30%;
}

.rank1:hover {
    box-shadow: 0 0 20px 0px rgba(253, 154, 5, 0.708);
    transition: 1s;
}
.rank2:hover {
    box-shadow: 0 0 20px 0px rgba(218, 211, 199, 0.538);
    transition: 1s;
}
.rank3:hover {
    box-shadow: 0 0 20px 0px rgba(206, 102, 12, 0.752);
    transition: 1s;
}


/*--------------beginner page--------------*/

.sub-header1 {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(8, 32, 3, 0.7),rgba(4, 17, 1, 0.7)), url(images/beginner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.module1-1 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/gardenbasics.jpg);
}

.module1-2 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/growingzone.jpg);
}

.module1-3 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/gardenbeds.jpg);
}

.module1-4 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/breakingground.jpg);
}

.module1-5 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/planningyourgarden.jpg);
}

.module1-6 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/cropplanning.jpg);
}

.module1-7 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/chooseseedsorstarts.jpg);
}

.module1-8 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/plantingyourorganicgarden.jpg);
}

.module1-9 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.863),rgba(25, 104, 7, 0.7)), url(images/img1-seeding.jpg);
}


/*--------------intermediate page--------------*/

.sub-header2 {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(8, 32, 3, 0.7),rgba(4, 17, 1, 0.7)), url(images/beginner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.module2-1 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/gardenmaintenance.jpg);
}

.module2-2 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/allnaturalpestsprays.jpg);
}

.module2-3 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/preventingdisease.jpg);
}

.module2-4 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/organicamendments.jpg);
}

.module2-5 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/endofseasontips.jpg);
}

.module2-6 {
    background-image: linear-gradient(rgba(4, 20, 1, 0.759),rgba(25, 104, 7, 0.7)), url(images/typesofseeds.jpg);
}


