<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Free gardening courses">
        <meta name="keywords" content="Course, Garden, Gardening, Plant, Vegetables, ">
        <meta name="author" content="Madalina Carausu and Isabela Haiura">

        <title>e-Gardening</title>

        <link rel="stylesheet" href="Proiect.css">
        <link rel="stylesheet" href="BegIntAdv.css">
        <link rel="stylesheet" href="Admin.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/png" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5e6801e0f3.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sub-header1">
            <nav>
                <a href="Proiect.html"><img src = "images/logo.png" alt="logo image"></a>
                <p> e-Gardening </p>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="Admin.html" itemprop="url" id="admin">ADMIN</a></li>
                        <li><a href="MyProfile.html" itemprop="url" id="my_profile">MY PROFILE</a></li>
                        <li><a href="Proiect.html">HOME</a></li>
                        <li><a href="Proiect.html#lesson">LEARN</a></li>
                        <li><a href="Proiect.html#tipsAndTricks">TIPS & TRICKS</a></li>
                        <li><a href="QA.html">Q&A</a></li>
                        <li><a href="Proiect.html#contact">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i> 
            </nav>
        <h1>Admin</h1>
        </div>
        
        <h2>Add courses, plants and answer questions!</h2>

        <section class="lesson" id="lesson">
            <div class="row">
                <a href="Admin.html#form-add-course" class="lesson-col" itemprop="url">
                    <div itemprop="hasPart" itemscope itemtype="https://schema.org/Course">
                        <h3 itemprop="educationalLevel">Add a course</h3>
                        <p itemprop="description">You will introduce its content and some tasks.</p>
                    </div>
                </a>
                <a href="Admin.html#form-add-plant" class="lesson-col" itemprop="url">
                    <div itemprop="hasPart" itemscope itemtype="https://schema.org/Course">
                        <h3 itemprop="educationalLevel">Add a new plant</h3>
                        <p itemprop="description">You can add a new plant to the database.</p>
                    </div>
                </a>
                <a href="Admin.html#form-answer-question" class="lesson-col" itemprop="url">
                    <div itemprop="hasPart" itemscope itemtype="https://schema.org/Course">
                        <h3 itemprop="educationalLevel">Answer questions</h3>
                        <p itemprop="description">You can offer answers to some of the user's questions.</p>
                    </div>  
                </a>
                <a href="Admin.html#get-CSV" class="lesson-col" itemprop="url">
                    <div itemprop="hasPart" itemscope itemtype="https://schema.org/Course">
                        <h3 itemprop="educationalLevel">Get CSV</h3>
                        <p itemprop="description">You can download a CSV with the data from the database.</p>
                    </div>  
                </a>
            </div>
        
        </section>

        <div class="form-add-course" id="form-add-course">
            <form action="/form_add_course" method="post" class="form-container" enctype="multipart/form-data">
              <h1>Post a course</h1>
            
              <label for="difficulty"><b>Choose the difficulty:</b></label>

                <select name="difficulty" id="difficulty_course" required>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                </select>
                <br><br>
              <label for="title"><b>Title:</b></label>
              <input type="text" placeholder="Enter title" name="title" required>

              <label for="title1"><b>First paragraph title:</b></label>
              <input type="text" placeholder="Enter first paragraph title" name="title1" required>
              <label for="content1"><b>First paragraph content:</b></label>
              <input type="text" placeholder="Enter first paragraph content" name="content1" required>
              <label for="filename1"><b>Add an image related to the first paragraph:</b></label>
              <input type="file" id="myFile1" name="filename1" accept=".png" required>

                <br><br><br>
              <label for="title2"><b>Second paragraph title:</b></label>
              <input type="text" placeholder="Enter second paragraph title" name="title2" required>
              <label for="content2"><b>Second paragraph content:</b></label>
              <input type="text" placeholder="Enter second paragraph content" name="content2" required>
              <label for="filename2"><b>Add an image related to the second paragraph:</b></label>
              <input type="file" id="myFile2" name="filename2" accept=".png" required>

              <br><br><br>
              <label for="title3"><b>Third paragraph title:</b></label>
              <input type="text" placeholder="Enter third paragraph title" name="title3" required>
              <label for="content3"><b>Third paragraph content:</b></label>
              <input type="text" placeholder="Enter third paragraph content" name="content3" required>
              <label for="filename3"><b>Add an image related to the third paragraph:</b></label>
              <input type="file" id="myFile3" name="filename3" accept=".png" required>

              <br><br><br>
              <label for="title4"><b>Fourth paragraph title:</b></label>
              <input type="text" placeholder="Enter fourth paragraph title" name="title4" required>
              <label for="content4"><b>Fourth paragraph content:</b></label>
              <input type="text" placeholder="Enter fourth paragraph content" name="content4" required>
              <label for="filename4"><b>Add an image related to the fourth paragraph:</b></label>
              <input type="file" id="myFile4" name="filename4" accept=".png" required>

              <br><br><br>
              <label for="task1"><b>Task 1:</b></label>
              <input type="text" placeholder="Enter task 1" name="task1" required>
              <label for="task2"><b>Task 2:</b></label>
              <input type="text" placeholder="Enter task 2" name="task2" required>
              <label for="task3"><b>Task 3:</b></label>
              <input type="text" placeholder="Enter task 3" name="task3" required>
              <label for="task4"><b>Task 4:</b></label>
              <input type="text" placeholder="Enter task 4" name="task4" required>
              <button type="submit" class="btn">Post</button>
            </form>
        </div>

        <div class="form-add-plant" id="form-add-plant" >
            <form action="/form_add_plant" method="post" class="form-container" enctype="multipart/form-data">
              <h1>Add a new plant</h1>
            
              <label for="difficulty"><b>Choose the difficulty:</b></label>
                <select name="difficulty" id="difficulty_plant" required>
                    <option value="Beginner">Beginner</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Advanced">Advanced</option>
                </select>

              <br><br>
              <label for="name"><b>Name of the plant:</b></label>
              <input type="text" placeholder="Enter the name" name="name" required>

              <label for="filename_plant"><b>Add an image of the plant:</b></label>
              <input type="file" id="myFile_plant" name="filename_plant" accept=".png" required>

              <br><br><br>
              <label for="task1"><b>Task 1:</b></label>
              <input type="text" placeholder="Enter task 1" name="task1" required>
              <label for="task2"><b>Task 2:</b></label>
              <input type="text" placeholder="Enter task 2" name="task2" required>
              <label for="task3"><b>Task 3:</b></label>
              <input type="text" placeholder="Enter task 3" name="task3" required>

              <button type="submit" class="btn">Add</button>
            </form>
        </div>

        <div class="form-answer-question" id="form-answer-question">
            <form action="/form_answer_question" method="post" class="form-container">
                <h1>Answer a question</h1>
            
              <label for="chosen_question"><b>Choose the question:</b></label>
                <select name="chosen_question" id="chosen_question" required></select>

              <br><br>
              <label for="answer"><b>Answer:</b></label>
              <input type="text" placeholder="Enter the answer" name="answer" required>

              <button type="submit" class="btn">Post</button>
            </form>
        </div>

        <br><br>
        <div class="form-container">
            <h1>Get a CSV</h1>
            <form action="/extractCSVplants" method="post" class="extractCSV" id="get-CSV">
                <button type="submit" class="btn">Extract CSV -> ID, NAME, PLANTS</button>
            </form>
            <form action="/extractCSVtasks" method="post" class="extractCSV">
                <button type="submit" class="btn">Extract CSV -> ID, NAME, TASKS</button>
            </form>
            <form action="/extractCSVnames" method="post" class="extractCSV">
                <button type="submit" class="btn">Extract CSV -> ID, NAME</button>
            </form>
        </div>
        <br><br>


<!--Footer-->
<hr>
<section class="footer">
    <h4>About us</h4>
    <p>We are two eager students who are trully passionate about everything related to gardening.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Madalina & Isabela.</p>
</section>

<!--JavaScript for Toggle Menu-->
    <script src="Admin.js">
    </script>
</body>
</html>