<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Free gardening courses">
        <meta name="keywords" content="Course, Garden, Gardening, Plant, Vegetables, ">
        <meta name="author" content="Madalina Carausu and Isabela Haiura">

        <title>e-Gardening</title>

        <link rel="stylesheet" href="Proiect.css">
        <link rel="stylesheet" href="BegIntAdv.css">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/png" href="images/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5e6801e0f3.js" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- pentru $ in Beginner.js-->
    </head>
    <body>
        <div class="sub-header1">
            <nav>
                <a href="Proiect.html"><img src = "images/logo.png" alt="logo image"></a>
                <p> e-Gardening </p>
                <div class="nav-links" id="navLinks">
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="Admin.html" itemprop="url" id="admin">ADMIN</a></li>
                        <li><a href="MyProfile.html" itemprop="url" id="my_profile">MY PROFILE</a></li>
                        <li><a href="Proiect.html">HOME</a></li>
                        <li><a href="Proiect.html#lesson">LEARN</a></li>
                        <li><a href="Proiect.html#tipsAndTricks">TIPS & TRICKS</a></li>
                        <li><a href="QA.html">Q&A</a></li>
                        <li><a href="Proiect.html#contact">CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa-solid fa-bars" onclick="showMenu()"></i> 
            </nav>
        <h1>Intermediate</h1>
        </div>
        


    <!-- Lessons -->
    <section class="lesson"> 
        <h2>Choose a category</h2>
        <p>Ceva text pt asta</p>
        <div id="divForIntermediate"></div>
        <h2>Top 3</h2>
        <h3> Hardworking Gardeners</h3>
        <br>
        <div class="rank1 number" >1<div id="2rank1" class="user"></div></div>
        <div class="rank2 number" >2<div id="2rank2" class="user"></div></div>
        <div class="rank3 number" >3<div id="2rank3" class="user"></div></div>
    </section>


<!--Footer-->
<hr>
<section class="footer">
    <h4>About us</h4>
    <p>We are two eager students who are trully passionate about everything related to gardening.</p>
    <div class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Madalina & Isabela.</p>
</section>

<!--JavaScript for Toggle Menu-->
    <script src="Intermediate.js">
    </script>
</body>
</html>